
.button{
    border: none;
    outline: none;
    box-shadow: 10px 10px 50px grey;
}
.patty1{
     
    height: 20px;
    width: 40px;
    border-radius: 0px 10px 10px 0px;
}
.patty2{
     
    height: 20px;
    width: 40px;
    border-radius: 10px 0px 0px 10px;
}